body {
	background: black;
}

.canvas-wrap {
	position: absolute;
	top: 0;left: 0; right: 0; bottom: 0;
	display: flex;
	align-items: center;
}

canvas {
	width: 100vw;
}

.controls {
	position: relative;
	z-index: 1;
}